body{
	margin: 0;
		background: #c5c2b3;

}
main{
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(5, 1fr);
}
.column{
	border: 1px solid red;
}

.text-column{
	grid-column: 1/3;
	font-size: 40px;
	font-family: sans-serif;
	padding-top: 50vh;
}

.text-column p{
	font-size: 16px;
}

.circles-column{
	grid-column: 3/5;
}

.last-column{
	grid-column: 2/5;
	
}
.circle{
	height: 270px;
	width: 270px;
	background: #738c8a;
	border-radius: 50%;
	opacity: 0.5;
	mix-blend-mode: multiply;
	margin-top: -100px;
}

.circle:nth-child(3) {
	background:black;
}

@media screen and (max-width: 500px){ 
  .circle{
  	background: yellow;
  }
}	