@font-face{
	font-family: 'ABCArizonaFlare';
	src: url('ABCArizonaFlare-RegularItalic-Trial.woff2') format('woff2');
	font-weight: 16;
}




body{
	/* this is the outermost element on your page*/
	background: white;
	color: black;
	font-family:'ABCArizonaFlare';
	font-size: 16px;
	line-height: 0.4;


}